@model TARpe22ShopVaitmaa.Models.Car.ImageViewModel

<div class="form-group roww col-sm-4 offset-2">
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
    @*<input asp-action="removeImage" asp-asp-controller="cars" asp-route-imageId="@Model.ImageId" type="submit" class="btn btn-danger" value="Remove Image"/>*@
</div>