<form method="post" asp-action="ShowWeather" asp-controller="OpenWeather">
    <div class="form-group col-md-offset-7 col-md-7">
        <h2>Look up the weather info of a city!</h2>
    </div>
    <br />
    <div class="container">
        <input type="text" name="City" value="" />
        <input type="submit" class="btn btn-primary" value="Look up" />
    </div>
</form>